@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: white;
}
#main #data{
    height: 50px;
    width: 100%;
    background-color: #023876;
    display: flex;
    justify-content: space-between;
    padding: 20px 5vw;
}
#data .part1{
         /* background-color: white; */
         display: flex;
         gap: 30px;
         color: #f4f4f4;
         cursor: pointer;
}
.part1  h5{
    display: flex;
    align-items: center;
    gap: 10px;
}
#data .part1  i{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #F16625;
}
#data .part2{
    /* background-color: white; */
    display: flex;
    gap: 30px;
    color: #eff0f2;
    cursor: pointer;
    transition: all cubic-bezier(0.23, 1, 0.320, 1) .1s;
}
#data .part1 h5 i:hover{
    color: rgb(11, 255, 11);
}
#data .part1 h5:hover{
    color: rgb(226, 109, 109);
}
#data .part2 h5:hover{
    color: rgb(226, 109, 109);
}
#main #nav{
    height: 70px;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    padding: 20px 5vw;
    justify-content: space-between;
    align-items: center;
}
#nav .part1{
    display: flex;
    font-weight: bold;
    font-size: 40px;
    gap: 30px;
    cursor: pointer;

}
#nav .part2{
    display: flex;
    gap: 30px;
    font-weight: 70px;
    font-size: 20px;
    cursor: pointer;
}
#nav .part2 h5{
    transition: all cubic-bezier(0.23, 1, 0.320, 1) .5s;

}
#nav .part2 h5:hover{
    color: #F16625;
}
#main #body{
    height: 75%;
    width: 100%;
    background-color: #D3E1F2;
    display: flex;
    position: relative;
    /* justify-content: center; */
    overflow: hidden;
}
#body .part1{
    height: 100%;
    width: 60%;
    display: flex;
/* align-items: center; */
    justify-content: center;
    position: relative;
    flex-direction: column;
    padding: 0px 5vw;
    /* background-color: red; */
    margin-top: -20px;
    
}
.part1 #child1{
    padding-bottom: 5px;
    /* background-color: aqua; */
    color: #113967;
}
.part1 #child2{
    /* height: 30px; */
    /* background-color: aqua; */
    /* color: #113967; */
    text-transform: uppercase;
}
.part1 #child3{
    height: 30px;
    /* background-color: aqua; */
    width: 50%;
}    /* padding:  10px 0vw; */

#child3 h5{
    padding: 10px 0px;
}
#body .part2{
     /* background-color: black; */
     height: 100%;
     width: 40%;
}
#body .part2 img{
    height: 100%;
    width:80%;
    object-fit: cover;
    object-position: center;
}
#child3 button{
    height: 40px;
    width: 100px;
    border: none;
    background-color: #F16625;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: all cubic-bezier(0.23, 1, 0.320, 1) .5s;
}
#child3 button:hover{
    color: #b8410a;
    /* color: red; */
}
#card{
    position: absolute;
    height: 26%;
    width: 100%;
    /* background-color: white; */
    margin-top: -60px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.card-item{
    /* position: absolute; */
    height: 100%;
    width: 20%;
    background-color: #fcfcfc;
    padding: 15px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: box-shadow cubic-bezier(0.19, 1, 0.22, 1) 5s;
}
.card-item:hover{
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset; */

}
.card-item #logo{
    font-size: 30px;
    color:  #F16625;
}
.card-item h2{
    font-weight: 1000;
    font-size: 20px;
    padding: 15px 0px;
}
p{
   font-size: 12px;
}